#margin{
    margin-top: 10rem;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* holds iteams in a dive or form next to each other */
.flexcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/* centers items held within a div  */
.centercontents{
    display: flex;
    justify-content: center;
    align-items: center;
}


.review{
    min-width: 50rem;
    min-height: 18rem;
    background-color: #f5f5f5;
    max-width: 60rem;
    max-height: 60rem;
    padding: 2rem;
    border-radius: 2.5px;
}


.review p{
    font-family:Unidays-Book, sans-serif ;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    max-width: 100%;
}

.review h1 {
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: Unidays-Heavy, sans-serif;
}

.review div{
    flex-direction: row;
    display: flex;
}


.review .rating{
    margin-left: auto;
    margin-right: 2rem;
    color: #ffd500;
}

.review .options{
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2rem;

}

.review .options a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.review .options a:hover{
    color: #7D53F8;
    transition: 0.5s;
}