/* used for all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* holds iteams in a dive or form next to each other */
.flexcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/* centers items held within a div  */
.centercontents{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*HEADER */

header{
    min-width: 100vw;
    background-color: #FFFFFF;
    padding: 0.5rem 0;
}

header h1{
    color: #000000;
    font-family: Unidays-Heavy, sans-serif;
    font-size: 3rem;
}

/* END OF HEADER  */

/* NAV */
nav{
    min-width: 100vw;
    background-color: #000000;
    height: 2rem;
}
nav a p{
    font-size: 1.3rem;
    font-family: Unidays-Heavy, sans-serif;
    transition: 0.3s;
}

nav a{
    text-decoration: none;
    width: 15%;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 515px) {
    nav a{
      min-width: 15%;
    }
  }

nav a p:hover{
    font-size: 1.5rem;
    transition: 0.3s;
}
/* END OF NAV */

/* FOOTER */

footer{
    min-width: 100vw;
    margin-top: auto;
}

#topfooter{
    min-width: 100vw;
    background-color: #000000;
}

#topfooter h2{
    color: #FFFFFF;
    font-family: Unidays-Heavy, sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

#bottomfooter p{
    font-family: Unidays-Heavy, sans-serif;
    font-size: 1rem;
    
}

#bottomfooter{
    padding: 0.5rem 0;
    background-color: #FFFFFF;
    min-width: 100vw;
}

/* END OF FOOTER */

/* CONTENT MAIN */
#container{
min-height: 110vh;
min-width: 100vw;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center;

}

#main{
    justify-content: space-around;
    min-width: 55%;
    background-color: #FFFFFF;
}
#mainsize{
    height: 105vh;
    overflow-x: auto;
}

@media screen and (max-width: 1050px) {
    #mainsize{
      min-width: 90vw;
    }
  }

/* END OF MAIN CONTENT */


/* BODY/BACKGROUND */
body{
    min-height: 100vh;
    min-width: 100vw;
    background:radial-gradient(#1DD577 5%, #7D53F8 25%,#1DD577 40%, #7D53F8 90%);
    background-size: 400% 400% ;
    animation: Featurebackground linear 30s infinite;
    overflow-x: hidden;
}

@keyframes Featurebackground {
    0% {background-position: 0% 0%;}
    50% {background-position: 80% 100%;}
    100% {background-position: 0% 0%;}
 }

/* END OF BODY/BACKGROUND */

/* CONTENT TITLE */

#contenttitle{
    min-width: 100%;
    padding-top: 3rem;
    text-align: center;
}
#contenttitle h1{
    font-family: Unidays-Heavy, sans-serif;
    font-size: 2rem;
}

/* END OF CONTENT TITLE */

/* INDEX TABLE*/

* table {
    max-width: 70vw;
    border-collapse: collapse;
    margin: 20px auto;
    min-width: 75%;
} 
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #f5f5f5;
}

table tr:nth-child(odd) {
    background-color: white;
} 
th{
    font-family: Unidays-Book, sans-serif;
}
tr{
    font-family:Unidays-Book, sans-serif ;
}

td a{
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

td a:hover{
    color: #1DD577;
    transition: 0.2s;
    
}

/* END OF INDEX TABLE */

/* SCROLL BAR SETTINGS */

 /* width */
    ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dddddd;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3c3f44;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* END OF SCROLL BAR SETTINGS */



/* Create Games Settings */
#formcontainer{
    align-items:center;
    justify-content: center;
}
#GameName{
    
}

#Platform{
    
}

#Releasedate{
    
}



/* FORM STYLES */

.form {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

label {
    font-family:Unidays-Book, sans-serif ;
}

    input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #570c0c;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Unidays-Book, sans-serif;
    font-size: 1rem;
  }

  


input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #570c0c;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Unidays-Book, sans-serif;
    font-size: 1rem;
}

  input[type=submit] {

    max-width: 15%;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 50%;
    font-family:Unidays-Book, sans-serif;
    font-size: 1rem;
    size: 1rem;
    background-color: #1DD577;
  }


form .formerror{
    color: #FF0000;
    font-family:Unidays-Book, sans-serif;
}

#reviewbtn{
    max-width: 40% !important;
    min-width: 40% !important;
    min-height: 10%;
    text-align: center;
}

  

/* Create Review Form */

#createreview input[type=text]{
    min-width: 100%;
}

#rdesc{
    min-width: 100%;
    min-height: 10rem;
    resize: none;
    font-family:Unidays-Book, sans-serif;
    font-size: 1.1rem;
}
#createreview input[type=number]{
    max-width: 25%;
    min-height: 50%;
    border-radius: 4px;
    font-size: 1rem;
    margin: 8px 0;
    padding: 12px 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  

/* Error Page */
#error-message{
    margin: auto;
    text-align: center;
    font-size: 1.7em;
    font-family: Unidays-Book;
    margin-top: 1.7em;
    color: red;
}



#error-page button {
    margin: auto;
    margin-top: 4em;
    display: block;
    max-width: 15%;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 7%;
    font-family:Unidays-Book, sans-serif;
    font-size: 1rem;
    size: 1rem;
    background-color: #1DD577;
  }


/*  Success Page(s)  */
.success h1{
    color: green;
    font-family: Unidays=Book;
    font-size: 3em !important;
}


.success p{
    margin: auto;

    margin-top: 4em;
    margin-bottom: 3em;
    font-size: 2em;
    font-family: Unidays-Book, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.success a{
    text-decoration: none;
    color: #FFFFFF;
}

#retsucc{
    margin-bottom: 13em;
    max-width: 40%;
    margin-top: 1em;
    background-color: #1DD577;
    height: 2em;
    padding-top: 0.5em;
}




/* MAKE USER */

#SignUp input[type=submit]{
    min-width: 30% !important;
}

input[type=reset] {
    max-width: 30%;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 50%;
    font-family: Unidays-Book, sans-serif;
    font-size: 1rem;
    transition: 0.3s;
    background-color: #bd0000;
}


input[type=reset]:hover {
    padding: 1rem;
    transition: 0.3s;
    color: #FF0000;
    font-family:Unidays-Book, sans-serif;
}

form .formerror{
    color: #FF0000;
    font-family:Unidays-Book, sans-serif;

}



/* END OF MAKE USER */


/* Delete User */
.delwarn{
    color: red;
    margin: 3em 0 3em 0;
    font-size: 1.3em;
    font-family: Unidays-Book, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#deleteuser input[type=text]{
    min-width: 100%;
}

#rdesc{
    min-width: 100%;
    min-height: 10rem;
    resize: none;
    font-family:Unidays-Book, sans-serif;
    font-size: 1.1rem;
}
#deleteuser input[type=number]{
    max-width: 25%;
    min-height: 50%;
    border-radius: 4px;
    font-size: 1rem;
    margin: 8px 0;
    padding: 12px 20px;
}
/* End of Delete User */

/* Details Page */

/*.rtitlebutton:hover:after {
    content:"Delete Review";
}*/



