
*.bin
*.v2
*.vsidx
.vs/ProjectEvaluation/unigames.metadata.v7.bin
.vs/ProjectEvaluation/unigames.projects.v7.bin
.vs/ProjectEvaluation/unigames.metadata.v7.bin
*.bin
*.v2
.vs/UniGames/DesignTimeBuild/.dtbcache.v2
.vs/UniGames/v17/.suo
UniGames.Api/bin/Debug/net6.0/appsettings.json
*.dll
UniGames.Api/bin/Debug/net6.0/UniGames.Api.exe
*.pdb
UniGames.Api/obj/Debug/net6.0/apphost.exe
*.dll
*.cache
*.editorconfig
*.cache
*.cache
*.props
*.bak
*.bin
*.bin
*.v2
.vs/UniGames/v17/.futdcache.v2
*.v2
.vs/UniGames/v17/.suo
*.dll
*.exe
*.pdb
*.exe
*.dll
*.cache
*.cache
*.txt
*.editorconfig
